{% extends "layout.html" %}
{% block content %}

<div align="center">
      <h1 style="color: #333333;">Your Account</h1>

      <br><br>
      <!---Friend list either make it a separate page or on the same account page--->
      <div>
            <a href="/friends" class="myButton">View Friends</a><br><br>
            <a href="/active" class="myButton">Active Games</a>
      </div>
      <!---account info--->
      <br><br>
      <p style="color: #333333;">Change Account Info</p>

      <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-control-label", style="color=#333333;") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}<br>
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}<br>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
              <br><br>
                {{ form.submit(class="myButton") }}
            </div>
      </form>
</div>


{% endblock %}