{% extends "layout.html" %}
{% block content %}

<div>
	<h1>Active Games</h1>
	<div class="games">
	{% for game in current_user.games %}
		{{ game.id }}
		{% if current_user == game.player1 and game.done == False %}
			{{ game.player2.username }}<br><br>
			<a href="/friends/{{game.id}}">Play!</a><br><br>
		{% elif current_user == game.player2 and game.over == False %}
			{{ game.player1.username }}<br><br>
			<a href="/friends/{{game.id}}">Play!</a><br><br>
		{% endif %}
	{% endfor %}
	</div>
</div>

{% endblock content %}