{% extends "layout.html" %}
{% block content %}

<div>
	<h1>Friends List</h1>
	<div class="theForm">
		<form method="POST" action="/friends">
			{{ form.hidden_tag() }}
			{{ form.username(class="form-control form-control-lg", placeholder="Username", style="position:relative; left:50%; margin-left: -77px;")}}<br><br>
			{{ form.submit(class="myButton", style="position:relative; left:50%; margin-left: -80px;") }}
		</form>
	</div>

	<div class="friends">
	{% for friend in current_user.friend_list %}
		<img class="rounded-circle game-img" src="{{ friend.image_file }}">
		{{ friend.username }}<br><br>
		<a href="/create/{{friend.id}}" class="myButton">Start Game</a><br><br>
		<p>Games won: {{friend.games_won}}</p>
	<!-- end of loop to go here -->
	{% endfor %}
	</div>
</div>

{% endblock content %}