
{% block content %}

<div>
	{% for i in range(questions|length) %}
		{{ questions[i]['question']|safe }}<br>
		{% for j in range(questions[i]['incorrect_answers']|length) %}
			{% if questions[i]['incorrect_answers'][j] == questions[i]["correct_answer"] %}
				<button onclick="correct();">{{ questions[i]['incorrect_answers'][j]|safe }}</button>
			{% else %}
				<button onclick="incorrect();">{{ questions[i]['incorrect_answers'][j]|safe }}</button>
			{% endif %}
		{% endfor %}
		<br>
	{% endfor %}
</div>

{% endblock content %}

<script type="text/javascript">
	<!--
	var count = 0;
	function correct(){
		count++;
		window.alert(count + " correct wooo")
	}
	function incorrect(){
		window.alert("you wrong")
	}
	// -->
</script>