{% extends "layout.html" %}
{% block content %}

<body style="text-align: center">
	<div id='scores'>
		<p id="ply1">Player 1: <br> <span id="pl1sc">0</span></p>
		<p id="ply2">Player 2: <br> <span id="pl2sc">0</span></p>
		<br>
	</div>
	{% for i in range(questions|length) %}
	<span style="color:white; font-weight: bold; font-size: 18px;" id={{i|string}} hidden>
		<br>
		{{ questions[i]['question']|safe }}<br>
		{% for j in range(questions[i]['incorrect_answers']|length) %}
		<br>
			{% if questions[i]['incorrect_answers'][j] == questions[i]["correct_answer"] %}
				<button style="position: relative; top: 50px; width: 200px; height: 70px; margin-top: 10px;"; class="myButton" onclick="correct();score_keeper();">{{ questions[i]['incorrect_answers'][j]|safe }}</button><br>
			{% else %}
				<button style="position: relative; top: 50px; width: 200px; height: 70px; margin-top: 10px;"; class="myButton" onclick="incorrect();">{{ questions[i]['incorrect_answers'][j]|safe }}</button><br>
			{% endif %}
		{% endfor %}
		<br>
	</span>
	{% endfor %}
</body>

<script type="text/javascript">
	<!--
	var ind = 0;
	var last = {{ correct }};
	document.getElementById(ind.toString()).removeAttribute("hidden");
	score_keeper();
	function correct(){
		document.getElementById(ind.toString()).hidden = true;
		ind++;
		if (document.getElementById(ind.toString()) == null){
			if (last == -1){
				window.alert("Pass device to player 2")
				pass();
			}
			else{
				check(last, ind);
			}
		}
		else{
			document.getElementById(ind.toString()).removeAttribute("hidden");
		}
	}
	function incorrect(){
		if (last == -1){
			window.alert("Pass device to Player 2")
			pass();
		}
		else{
			check(last, ind);
		}
	}
	function check(play1, play2){
		if (play1 > play2){
			pass();
		}
		else if (play1 == play2){
			pass();
		}
		else{
			pass();
		}
	}
	function pass(){
		window.location = window.location.href + '/' + ind.toString();
	}
    function score_keeper(){
	    if (last == -1){
	    	document.getElementById("pl1sc").innerHTML = ind.toString();
	    }
	    else{
	    	document.getElementById("pl1sc").innerHTML = last.toString();
	    	document.getElementById("pl2sc").innerHTML = ind.toString();
	    }
    }

	// -->
</script>
{% endblock %}