<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<title>Trivia</title>
	<meta name="description" content="Answer questions?" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" >
	<link rel="icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cretan-hieroglyphs" type="text/css"/><link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hanken" type="text/css"/>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css') }}" type="text/css"/>
</head>
<body>
	<!---<div class="navBar">
		{% if current_user.is_authenticated %}
			<div align="left" style="position: relative; top: 9px;">
				<a href="/">Trivia!</a>
			</div>
			<div align="right" style="position: relative; top: -10px;">
				<a href="/friends">Friends</a>
				<a href="/account">Account</a>
				<a href="/logout">Logout</a>
			</div>
		{% else %}
			<div align="left" style="position: relative; top: 9px;">
				<a href="/">Trivia!</a>
			</div>
			<div align="right" style="position: relative; top: -10px;">
				<a href="/login">Login</a>
				<a href="/register">Register</a>
			</div>
			
		{% endif %}
	</div>--->

		<div id="mySidenav" class="sidenav">
 			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
 			{% if current_user.is_authenticated %}
					<a href="/">Trivia!</a>
					<a href="/friends">Friends</a>
					<a href="/account">Account</a>
					<a href="/logout">Logout</a>
			{% else %}
					<a href="/">Trivia!</a>
					<a href="/login">Login</a>
					<a href="/register">Register</a>
			{% endif %}
		</div>

		<!-- Use any element to open the sidenav -->
		<span onclick="openNav()">
			<div class="container">
			  <div class="bar1"></div>
			  <div class="bar2"></div>
			  <div class="bar3"></div>
			</div> 
		</span>

		<script type="text/javascript"> 	
			function openNav() {
			    document.getElementById("mySidenav").style.width = "250px";
			    document.getElementById("main").style.marginLeft = "250px";
			    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
			}

			/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			    document.getElementById("main").style.marginLeft = "0";
			    document.body.style.backgroundColor = "white";
			}
		</script>


		<div id="content" style="margin: 0 50px">
		 	{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for catergory, message in messages %}
						<div class = "alert alert-{{ category }}">
							<p>{{ message }}</p>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

    	{% block content %}{% endblock %}
    </div>
</body>

</html>