<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<title>Trivia</title>
	<meta name="description" content="Answer questions?" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cretan-hieroglyphs" type="text/css"/><link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hanken" type="text/css"/>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css') }}" type="text/css"/>
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>