<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<title>Trivia</title>
	<meta name="description" content="Answer questions?" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" >
	<link rel="icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cretan-hieroglyphs" type="text/css"/><link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/hanken" type="text/css"/>
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='style.css') }}" type="text/css"/>
</head>
<body>
	<div class="navBar">
		{% if current_user.is_authenticated %}
			<div align="left" style="position: relative; top: 9px;">
				<a href="/">Trivia!</a>
			</div>
			<div align="right" style="position: relative; top: -10px;">
				<a href="/friends">Friends</a>
				<a href="/account">Account</a>
				<a href="/logout">Logout</a>
			</div>
		{% else %}
			<div align="left" style="position: relative; top: 9px;">
				<a href="/">Trivia!</a>
			</div>
			<div align="right" style="position: relative; top: -10px;">
				<a href="/login">Login</a>
				<a href="/register">Register</a>
			</div>
			
		{% endif %}
	</div>


	<div id="content" style="margin: 0 50px">
	 	{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for catergory, message in messages %}
					<div class = "alert alert-{{ category }}">
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>

   	{% block content %}{% endblock %}
</body>

</html>