{% extends "layout.html" %}
{% block content %}

<div>

	<div class="player-header">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <h2>{{ current_user.username }}</h2>
        <h3>Games won: {{current_user.games_won}}</h3>
    </div>


    <div class="startButtons">
		<button>New Game</button> 
		<button><img class="addFriendIcon" src="static/idk.png">Add Friends</button>
	</div>
	


	<h2>Your Turn</h2>
	<div class="turns">

	<!-- Loop to iterate through games goes here -->
	<!--------------------------------------------->
		<img class="rounded-circle game-img" src="{{ opponent.image_file }}">
		<h2>{{ opponent.username }}</h2>
		<p>You: {{gameId.current_user.count}} Opponent: {{gameId.opponent.count}}</p>
	<!-- end of loop to go here -->

	</div>


	
	<h2>Their Turn</h2>
	<div class="turns">

	<!-- Loop to iterate through games goes here -->
	<!--------------------------------------------->
		<img class="rounded-circle game-img" src="{{ opponent.image_file }}">
		<h2>{{ opponent.username }}</h2>
		<p>You: {{gameId.current_user.count}} Opponent: {{gameId.opponent.count}}</p>
	<!-- end of loop to go here -->

	</div>

</div>

{% endblock content %}