{% extends "layout.html" %}
{% block content %}

<div style="text-align: center">
  <h1>Password Retrieval</h1>
  <p>Enter your email and we'll send you a new password.</p>
  <div class='theForm'>
        <form method="POST" action="/password_retrieval">
            {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid", placeholder='Email') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder='Email') }}
                    {% endif %}
                </div>
             <br><br>   
            <div class="form-group">
                {{ form.submit(class="myButton", style="width: auto") }}
            </div>
        </form>
    <p>Don't have an account? <a href="/register">Register</a></p><br>

  </div>
</div>

{% endblock content %}
