{% extends "layout.html" %}
{% block content %}

<body>
	<br><br><br>
	<div style="text-align: center; color: #333333;">
	{% if game.over == true %}
	<h1>Game Over</h1>
	{% else %}
	<h1>Waiting for other player...</h1>
	{% endif %}

	<h1>{{ game.score1 }} - {{ game.score2 }}</h1>

	{% if game.over == true %}
		{% if game.score1 > game.score2 %}
			<h1>{{ User.query.filter_by(id=game.player1).first().username }} wins!</h1>
		{% elif game.score1 == game.score2 %}
			<h1>Tie Game<h1>
		{% else %}
			<h1>You win!</h1>
		{% endif %}
	{% endif %}
		<br><br>
		<a href="/" class="myButton">Continue</a>

	</div>

</body>

{% endblock content %}